{% if site.ed_comments_server_url %}

{% capture script_url %}{%
  if site.ed_comments_script_url != nil and site.ed_comments_script_url != '' %}{{
    site.ed_comments_script_url }}{%
  else %}{{
    'https://edc-49f8.kxcdn.com/-/ed-comments.v0.min.js' }}{%
  endif %}{%
endcapture %}

<script>edCommentsServerUrl='{{ site.ed_comments_server_url }}';</script>
<script async defer src="{{ script_url }}"></script>
<div class="ed-comments" data-discussion-id="{{ page.discussion_id }}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.effectivediscussions.org">Effective Discussions</a>.</p>
</div>

{% endif %}
