<footer class="site-footer">

  <div class="wrapper">

    <!--
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    -->

    <div class="footer-col-wrapper">
      <div class="footer-col xfooter-col-1">
        <p>
        Talkyard is blog comments and discussion forum software. Open source. Serverless hosting.
        </p>
        <a href="https://www.talkyard.io">Talkyard homepage</a><br>
        {% include github-link-ed-server.html %}<br>
        {% include github-link-blog.html %}
      </div>
    </div>

  </div>

</footer>
